@model LoaiPhong
@{
    ViewBag.Title = "Loại phòng: " + Model.TenLoaiPhong;
    ViewBag.Controller = "Loại phòng";
    ViewBag.General = "active";
    ViewBag.RoomType = "active";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Id = "view-null";
}

<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">@ViewBag.Title</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="form-horizontal">
                <div class="box-body">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Tên loại phòng:</label>
                        <div class="col-sm-9">
                            <label class="control-label text-left">@Model.TenLoaiPhong</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Khách sạn:</label>
                        <div class="col-sm-9">
                            <label class="control-label text-left">@Model.KhachSan.TenKhachSan</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Mô tả:</label>
                        <div class="col-sm-9">
                            <label class="control-label text-left">@Html.Raw(Model.MoTa)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Số giường:</label>
                        <div class="col-sm-9">
                            <label class="control-label text-left">@Model.SoGiuong</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Đơn giá:</label>
                        <div class="col-sm-9">
                            <label class="control-label text-left">@Model.DonGia.Value.ToString("N0") (VNĐ)</label>
                        </div>
                    </div>
                    <hr />
                    <h3>
                        <i>Dánh sách tiên nghi</i>
                        <a href="/Admin/RoomType/AddConvenient/@Model.MaLoaiPhong" class="btn btn-success">Tạo tiện nghi</a>
                    </h3>
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tên tiện nghi</th>
                                <th class="w100">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TienNghis)
                            {
                                <tr>
                                    <td>@item.TenTienNghi</td>
                                    <td>
                                        <a href="/Admin/RoomType/EditConvenient/@item.MaTienNghi" class="btn btn-info btn-sm">Sửa</a>
                                        <a href="/Admin/RoomType/DeleteConvenient/@item.MaTienNghi" onclick="return confirm('Bạn chắc chắn muốn xóa mục đã chọn?')" class="btn btn-danger btn-sm">Xóa</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="box-footer">
                    <a href="@Url.Action("Index")" class="btn btn-default pull-left">Danh sách</a>
                </div>
            </div>
        </div>
    </div>
</div>

